<div>
  <ul>
<!--    todo remove ids-->
    <li><a routerLink="" routerLinkActive="header-button-active" [routerLinkActiveOptions]="{exact:true}" class="header-button" mat-ripple  #homeButton>home</a></li>
    <li><a routerLink="products" routerLinkActive="header-button-active" class="header-button" mat-ripple  #productsButton>products</a></li>
    <li><a routerLink="services" routerLinkActive="header-button-active" class="header-button" mat-ripple #servicesButton>services</a></li>
    <li><a routerLink="company" routerLinkActive="header-button-active" class="header-button" mat-ripple  #companyButton>company</a></li>
    <li><a routerLink="support" routerLinkActive="header-button-active" class="header-button" mat-ripple  #supportButton>support</a></li>
  </ul>
</div>
