<footer>
  <div class="footer-info-layout">
    <div class="tile-group">
      <div class="footer-tile">
        <h4 class="tile-heading">Address</h4>
        <p>Cyber Dynamic Systems Inc.</p>
        <p>18144 El Camino Real</p>
        <p>Sunnyvale, California</p>
        <p>United States of America</p>
      </div>

      <div class="footer-tile">
        <h4 class="tile-heading">Address</h4>
        <p>Cyber Dynamic Systems Inc.</p>
        <p>18144 El Camino Real</p>
        <p>Sunnyvale, California</p>
        <p>United States of America</p>
      </div>
    </div>

    <div class="tile-group">
      <div class="footer-tile">
        <h4 class="tile-heading">Address</h4>
        <p>Cyber Dynamic Systems Inc.</p>
        <p>18144 El Camino Real</p>
        <p>Sunnyvale, California</p>
        <p>United States of America</p>
      </div>

      <div class="footer-tile">
        <h4 class="tile-heading">Address</h4>
        <p>Cyber Dynamic Systems Inc.</p>
        <p>18144 El Camino Real</p>
        <p>Sunnyvale, California</p>
        <p>United States of America</p>
      </div>
    </div>
  </div>

  <div class="separation-line-layout">
    <div class="separation-line"></div>
    <div class="separation-line"></div>
  </div>
  <p class="copyright">&copy;2022 Cyber Dynamic Systems Inc. All rights reserved.</p>
  <img src="assets/shared/cyberdyne%20logo.svg" alt="cyberdyne logo">


</footer>
