<footer class="clickable">
  <div class="footer-info-layout">
    <div class="tile-group">
      <div class="footer-tile">
        <h4 class="tile-heading">Address</h4>
        <p>Cyber Dynamic Systems Inc.</p>
        <p>18144 El Camino Real</p>
        <p>Sunnyvale, California</p>
        <p>United States of America</p>
      </div>

      <div class="footer-tile">
        <h4 class="tile-heading">Contact us</h4>
        <p><a href="mailto:info@cyberdyne.com">info@cyberdyne.com</a></p>
        <p><a href="mailto:sales@cyberdyne.com">sales@cyberdyne.com</a></p>
        <p><a href="mailto:support@cyberdyne.com">support@cyberdyne.com</a></p>
        <p>310-532-3670</p>
      </div>
    </div>

    <div class="tile-group">
      <div class="footer-tile">
        <h4 class="tile-heading">Follow us</h4>
        <p><a href="https://www.linkedin.com/company/cyberdyne-systems-corporation/about/" target="_blank">Linkedin</a></p>
        <p><a href="https://twitter.com/CyberdynePR" target="_blank">Twitter</a></p>
      </div>

      <div class="footer-tile">
        <h4 class="tile-heading">Legal</h4>
        <p><a routerLink="terms-of-service">Terms of service</a></p>
        <p><a routerLink="privacy-policy">Privacy policy</a></p>
      </div>
    </div>
  </div>

  <div class="separation-line-layout">
    <div class="separation-line"></div>
    <div class="separation-line"></div>
  </div>

  <p class="copyright">&copy;2022 Cyber Dynamic Systems Inc. All rights reserved.</p>
  <img src="assets/shared/cyberdyne%20logo.svg" alt="cyberdyne logo">
  <p class="cyberdyne-name">Cyberdyne systems</p>


</footer>
