@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-red: #D50002;
  --color-dark-red: #a00505;
  --color-pink: #ff6161;
  --color-dark-gray: #636363;
  --color-light-gray: #EEEEEEFF;
  --color-light-gray-transparent: #EEEEEE00;
  --color-white: #FFFFFF;
  --color-green: #357714;

  --element-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  --slow-transition: all 200ms ease-in-out;
  --fast-transition: all 150ms ease-in-out;
}

h1, h2, h3 {
  font-family: Coda, sans-serif;
  color: var(--color-red);
  font-weight: 400;
}

h1 {
  font-size: 64px;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

.dummy-content {
  display: block;
  height: 500px;
  background: cadetblue;
  color: wheat;
  text-align: center;
}
