@use 'src/assets/styles/cyberdyne-palette' as pallette;
@use 'src/assets/styles/responsive' as responsive;
@import "src/assets/styles/constants";

#content-wrapper {
  height: $header-height;
  background: map-get(pallette.$elements-palette, DARK-GRAY);
}

#header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  max-width: map-get(responsive.$content-width, DESKTOP);
  margin: 0 auto;
}

#logo-container {
  position: relative;
  display: inline-block;
  margin-left: 1rem;

  img {
    display: inline-block;
    margin-top: 0.5rem;
    width: 8.5rem;
  }

  p {
    display: inline-block;
    position: absolute;
    margin-top: 1rem;
    vertical-align: middle;
    font-family: Coda, sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    text-align: right;
    text-transform: uppercase;
    color: map-get(pallette.$elements-palette, WHITE);
    line-height: 2rem;
    transform: translateX(-2rem);
  }
}

nav{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#full-nav {
  //display: none;
  margin-right: 2rem;
  height: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100%;
    align-content: center;
  }
}

#mobile-nav {
  display: none;
  margin-right: 2rem;
  height: 3.5rem;
  width: 3.5rem;

  svg {
    fill: map-get(pallette.$elements-palette, WHITE);
    border: 1px solid map-get(pallette.$elements-palette, LIGHT-GRAY);
    border-radius: 5px;
    padding: 0.75rem;
  }
}

@media screen and (width <= map-get(responsive.$content-width, TABLET)) {
  #full-nav {
    display: none;
  }

  #mobile-nav {
    display: inline-block;
  }
}

#hamburger-menu {
  position: fixed;
  top: $header-height;
  right: 0;
  background: map-get(pallette.$elements-palette, DARK-GRAY);
  border-bottom-left-radius: 10px;

  ul {
    margin: 1rem;
  }
}

